body {
  height: 100%; 
}

header {
  position: fixed;
  width: 100%;
  background-color: gray;
  opacity: 0.5;
}

hgroup {
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
}

#storeItems {
  float: left;
  width: 64%;
  height: 100%;
  padding: 0;
}

#storeItems ul li {
  display: inline; 
}

.item {
  display:block;
	float:left;
	width:180px;
	height:180px;
	margin:10px;
	border:1px dotted #4f4d4d;
	text-align:center;
	text-decoration:none;
	color: #000;
	overflow:hidden;
}
#cartItems {
  float: right;
  height: 100%;
  width: 32%;
  padding: 0;
}

#cartItems ul li {
  display: inline;
}

[draggable=true] {
	cursor: move;
}